@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* Document section */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: "Lato", sans-serif, Arial;
	min-height: 100%;
}

img {
	width: 200px;
	height: 200px;
}

main {
	background: url("./components/img/bg.jpg") no-repeat center/cover;
}
